<!DOCTYPE html>
<html lang="en">
<head><title>insta485</title></head>
<body>
    <a href="/"></a>
    <a href="/accounts/login/">login</a>

    <form action="#" method="post" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="text" name="fullname"/>
      <input type="text" name="username"/>
      <input type="text" name="email"/>
      <input type="password" name="password"/>
      <input type="submit" name="signup" value="sign up"/>
    </form>
    <p>Have an account? <b><a href="/accounts/login/">Log in</a></b></p>
</body>
</html>
