<!DOCTYPE html>
<html lang="en">
    <head><title>insta485</title></head>
    <body>
      <a href="/"></a>
      <a href="/explore/">explore</a>
      <a href="/u/{{logname}}/">{{logname}}</a>

      <p>Followers</p>
      {% for entry in followers %}
        <img src="{{entry.user_img_url}}" alt="Smiley face">
        <a href="/u/{{entry.username}}/">{{entry.username}}</a>
        {% if entry.username != logname %}
          {% if entry.logname_follows_username == false %}
            <p>not following</p>
          {% else %}
            <p>following</p>
          {% endif %}
        {% endif %}
      {% endfor %}
    </body>
</html>
