<!DOCTYPE html>
<html lang="en">
    <head><title>insta485</title></head>
    <body>
      <a href="/"></a>
      <a href="/explore/">explore</a>
      <a href="/u/{{username}}/">{{username}}</a>

      <p>Followers</p>
      {% for entry in followers %}
        <img src="{{entry.user_img_url}}" alt="Smiley face">
        <a href="/u/{{entry.username1}}/">{{entry.username1}}</a>
        {% if entry.username1 != username %}
          {% if entry.logname_follows_username == 0 %}
            <p>not following</p>
            <form action="#" method="post" enctype="multipart/form-data">
              <input type="submit" name="follow" value="follow"/>
              <input type="hidden" name="username" value="{{entry.username1}}"/>
              <input type="hidden" name="which" value="follow"/>
            </form>
          {% else %}
            <p>following</p>
            <form action="#" method="post" enctype="multipart/form-data">
              <input type="submit" name="unfollow" value="unfollow"/>
              <input type="hidden" name="username" value="{{entry.username1}}"/>
              <input type="hidden" name="which" value="unfollow"/>
            </form>
          {% endif %}
        {% endif %}
      {% endfor %}
    </body>
</html>
