<!DOCTYPE html>
<html lang="en">
<head><title>insta485</title></head>
<body>
    <a href="/"></a>
    <a href="/explore/">explore</a>
    <a href="/u/{{username}}/">{{username}}</a>

    {% for post in posts %}
    <a href="/p/{{post.postid}}/">{{post.created}}</a>
    <a href="/u/{{post.owner}}/">{{post.owner}}</a>
    <img src="{{post.owner_img_url}}" alt="Smiley face">
    <img src="{{post.filename}}" alt="Smiley face">
    {% if post.numberOfLikes == 1 %}
            <p>{{post.numberOfLikes}} like</p>
    {% else %}
          <p>{{post.numberOfLikes}} likes</p>
    {% endif %}
    {% for comment in post.comments %}
    <a href="/u/{{comment.owner}}/">{{comment.owner}}</a>
    <p>{{comment.text}}</p>
    {% endfor %}
    <form action="#" method="post" enctype="multipart/form-data">
      <input type="hidden" name="postid" value="{{post.postid}}"/>
      <input type="text" name="text"/>
      <input type="submit" name="comment" value="comment"/>
      <input type="hidden" name="which" value="comment"/>
    </form>
    {% if post.iLike == 0 %}
      <form action="#" method="post" enctype="multipart/form-data">
        <input type="hidden" name="postid" value="{{post.postid}}"/>
        <input type="submit" name="like" value="like"/>
        <input type="hidden" name="which" value="like"/>
      </form>
    {% else %}
    <form action="#" method="post" enctype="multipart/form-data">
      <input type="hidden" name="postid" value="{{post.postid}}"/>
      <input type="submit" name="unlike" value="unlike"/>
      <input type="hidden" name="which" value="unlike"/>
    </form>
    {% endif %}
    {% endfor %}


</body>
</html>
