<!DOCTYPE html>
<html lang="en">
<head><title>insta485</title></head>
<body>
    <a href="/"></a>
    <a href="/explore/">explore</a>
    <a href="/u/{{username}}/">{{username}}</a>
    <form action="<FIXME CURRENT PAGE URL HERE>" method="post" enctype="multipart/form-data">
      <input type="password" name="password"/>
      <input type="password" name="new_password1"/>
      <input type="password" name="new_password2"/>
      <input type="submit" name="update_password" value="submit"/>
    </form>
</body>
</html>
