<!DOCTYPE html>
<html lang="en">
    <head><title>insta485</title></head>
    <body>
      <a href="/"></a>
      <a href="/explore/">explore</a>
      <a href="/u/{{logname}}/">{{logname}}</a>



      <a href="/p/{{postid}}/">{{timestamp}}</a>
      <a href="/u/{{owner}}/">{{owner}}</a>
      <img src="{{owner_img_url}}" alt="Smiley face">
      <img src="{{img_url}}" alt="Smiley face">

        {% if likes == 1 %}
                <p>{{likes}} like</p>
        {% else %}
              <p>{{likes}} likes</p>
        {% endif %}

      {% for comment in comments %}
      <a href="/u/{{comment.owner}}/">{{comment.owner}}</a>
      <p>{{comment.text}}</p>
      {% endfor %}


    </body>
</html>
