<!DOCTYPE html>
<html lang="en">
    <head><title>insta485</title></head>
    <body>
      <a href="/"></a>
      <a href="/explore/">explore</a>
      <a href="/u/{{logname}}/">{{logname}}</a>

        <p>{{username}}</p>

        {% if username != logname %}
          {% if logname_follows_username == false %}
            <p>not following</p>
          {% else %}
            <p>following</p>
          {% endif %}
        {% endif %}
        {% if total_posts == 1 %}
                <p>{{total_posts}} post</p>
        {% else %}
              <p>{{total_posts}} posts</p>
        {% endif %}
        {% if followers == 1 %}
                <a href="/u/{{username}}/followers/">{{followers}} follower</a>
        {% else %}
              <a href="/u/{{username}}/followers/">{{followers}} followers</a>
        {% endif %}

        <a href="/u/{{username}}/following/">{{following}} following</a>
        <p>{{fullname}}</p>

        {% for post in posts %}
          <a href="/p/{{post.postid}}/"><img src="{{post.img_url}}" alt="Smiley face"></a>
        {% endfor %}
    </body>
</html>
